<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="timeTable">

	<select id="getTimeTableList" resultType="timeTable">

		select SUBSTR(st.t_id, '2') "t_id",
				TO_CHAR(st.s_date,'YYYY-MM-DD') "s_date",
				get_codename(classtime_cd) "classtime_cd",
				su.subject "subject"
		from subject_timetable st join subject su
		on (st.subject = su.su_no)
		<where>
			<if test="cl_no != null">
				and su.cl_no = #{cl_no}
			</if>
		</where> 
		order by st.temp

	</select>

	<select id="getClassTimeTable" resultType="timeTable" parameterType="timeTable">
	
		select SUBSTR(st.t_id, '2') "t_id",
		        TO_CHAR(st.s_date,'YYYY-MM-DD') "s_date",
		        get_codename(classtime_cd) "classtime_cd",
		        su.subject "subject",
		        cl.class_name "class_name"
		from subject_timetable st join class cl
		on (st.cl_no = cl.cl_no)
        join subject su
        on (st.subject = su.su_no)
        where cl.cl_no = #{cl_no}
		order by st.temp
		
	</select>

</mapper>